<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
						 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.co.green.board.model.mapper.BoardMapper">

<resultMap id="boardResultMap" type="kr.co.green.board.model.dto.BoardDTO">
	<result property="boardNo" column="no"></result>
	<result property="boardTitle" column="title"></result>
	<result property="boardContent" column="content"></result>
	<result property="createDate" column="created_date"></result>
	<result property="updateDate" column="updated_date"></result>
	<result property="boardCount" column="view_count"></result>
	
	<association property="authorDTO" javaType="kr.co.green.board.model.dto.AuthorDTO">
	<result property="authorId" column="id"></result>
	<result property="authorNo" column="author_no"></result>
	</association>
	
	<association property="fileDTO" javaType="kr.co.green.board.model.dto.FileDTO">
	<result property="changeName" column="change_name"></result>
	<result property="folderNamePath" column="folder_name_path"></result>
	</association>

</resultMap>

<!-- <select id="list" resultMap="boardResultMap">
	SELECT title,M.name,content 
	FROM free_board fb
	join member m on
	m.NO = fb.author_no
	ORDER BY m.NO ASC
</select> -->

<select id="list" resultMap="boardResultMap">
	SELECT *
	FROM (SELECT fb.NO,
			fb.title,
			fb.content,
			M.ID, 
			fb.created_date, 
			fb.view_count,
			ROW_NUMBER() over(ORDER BY created_date desc)AS rn
	FROM FREE_BOARD fb 
	JOIN MEMBER m 
	ON m.NO = fb.AUTHOR_NO
	<choose>
		<when test="searchDTO.category.equals('title')">
			WHERE title LIKE '%' || #{searchDTO.searchText} || '%'
		</when>
		<when test="searchDTO.category.equals('content')">
			WHERE content LIKE '%' || #{searchDTO.searchText} || '%'
		</when>
		<when test="searchDTO.category.equals('memberId')">
			WHERE m.id LIKE '%' || #{searchDTO.searchText} || '%'
		</when>
		
	</choose>
	)
	WHERE rn BETWEEN #{pi.offset} AND #{pi.limit}
</select>


<select id="getTotalCount">
	SELECT COUNT(*) FROM FREE_BOARD
	<choose>
		<when test="category.equals('title')">
			WHERE title LIKE '%' || #{searchText} || '%'
		</when>
		<when test="category.equal('content')">
			WHERE content LIKE '%' || #{searchText} || '%'
		</when>
		<when test="category.equal('memberId')">
			JOIN member m on fb.author_no = m.no
			WHERE m.id LIKE '%' || #{searchText} || '%'
		</when>
	</choose>
	
</select>
	<insert id="enroll" parameterType="kr.co.green.board.model.dto.BoardDTO">
	<selectKey keyProperty="boardNo" resultType ="int" order="BEFORE">
		SELECT FREE_BOARD_SEQ.NEXTVAL FROM dual
	</selectKey>
	
	INSERT INTO free_board VALUES(#{boardNo},
									#{boardTitle},
									#{boardContent},
									#{authorDTO.authorNo},
										SYSDATE,
									null,
									default)
					
	</insert>
	<insert id="enrollFile">
		INSERT INTO FREE_BOARD_FILE
		VALUES(FREE_BOARD_FILE_SEQ.NEXTVAL,
				#{fileDTO.changeName},
				#{fileDTO.originalName},
				#{fileDTO.extension},
				#{fileDTO.size},
				#{fileDTO.LOCAL_PATH},
				#{fileDTO.RESOURCES_PATH},
				#{fileDTO.folderNamePath},
				sysdate,
				#{boardNo})
	
	
	</insert>				

	<select id="detail" resultMap="boardResultMap">
	SELECT fb.no,
		fb.title,
		fb.content,
		m.id,
		fb.created_date,
		fb.view_count 
	FROM free_board fb
	join MEMBER m ON
	fb.author_no = m.no
	WHERE fb.no = #{boardNo} 
	</select>
	
	<select id="getFileInfo" resultMap="boardResultMap">
	
	SELECT change_name,folder_name_path FROM FREE_BOARD_FILE
	WHERE FREE_BOARD_FILE.FREE_BOARD_NO = #{boardNo} 
	
	</select>
	
	
	<select id="detailFile" resultMap="boardResultMap">
	SELECT fb.no,
		fb.title,
		fb.content,
		m.id,
		fb.created_date,
		fb.view_count,
		fbf.change_name,
		fbf.resources_path,
		fbf.folder_name_path 
	FROM free_board fb
	join MEMBER m ON
	fb.author_no = m.no
	join free_board_file fbf 
	ON fb.no = fbf.free_board_no
	WHERE fb.no = #{boardNo} 
	</select>
	
	
	
	
	
	
	
	
	<update id="addViewCount">
		UPDATE free_board
		SET VIEW_COUNT = VIEW_COUNT+1
		WHERE free_Board.no = #{boardNo}
	
	</update>
	
	<select id="updateForm" resultMap="boardResultMap">
	SELECT fb.no,fb.title,fb.content,m.id,fb.created_date,fb.view_count 
	FROM free_board fb
	join MEMBER m ON
	fb.author_no = m.no
	WHERE fb.no = #{boardNo} 
	</select>
	
	<select id="editForm" resultMap="boardResultMap">
		SELECT AUTHOR_NO FROM FREE_BOARD
		WHERE FREE_BOARD.NO = #{boardNo}
	</select>
	
	<update id="update">
	UPDATE FREE_BOARD
	SET FREE_BOARD.title = #{boardTitle},
		FREE_BOARD.content = #{boardContent}
	WHERE free_Board.no = #{boardNo}
	
	</update>
	
	<delete id="delete">
	DELETE  FROM FREE_BOARD
	WHERE FREE_BOARD.NO = #{boardNo}
	</delete>
	
	<delete id="deleteFile">
	DELETE FROM FREE_BOARD_FILE
	WHERE CHANGE_NAME = #{fileName}
	
	</delete>

	








</mapper>
