<nav th:fragment="NavFragment">
    <ul>
      <li><a th:href="@{/}">홈</a></li>
      <li><a href="../introduce/introduce.html">소개</a></li>
      <li><a href="../portfolio/portfolio.html">포트폴리오</a></li>
      <li class="menu-item">
        <a href="#">게시판</a>
        <div class="submenu">
          <a href="../board/없음.html">뉴스 게시판</a>
          <a th:href="@{/board/free/list}">자유 게시판</a>
        </div>
      </li>
      <li>
      <a th:if="${session.memberId != 'admin'}" th:href="@{/contact/contactEnroll}">연락하기</a>
      <a th:if="${session.memberId == 'admin'}" th:href="@{/contact/contactList}">연락관리</a>
      </li>
  </nav>